@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
  overscroll-behavior: none;
}
